<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.GOLAUNDRY">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/squarelogo"
        android:label="GOLaundry"
        android:roundIcon="@mipmap/roundlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".ForgotPass"></activity>
        <activity android:name=".homepage"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
    </application>

</manifest>